<!DOCTYPE html>
<html>

<head>
  <title>Welcome to BeautyHubAPI - Admin Registration</title>
</head>

<body>
  <h1>Dear {adminName},</h1>
  <p>Congratulations! You are successfully registered on Salon Near Me.</p>
  <h2>Login Credentials:</h2>
  <ul>
    <li><strong>Username:</strong> {username}</li>
    <li><strong>Password:</strong> {password}</li>
    <li><strong>Web Link:</strong> {link}</li>
  </ul>
  <p>As an admin user, [User Name] will have access to various administrative functions and contribute to the smooth
    operation of BeautyHubAPI. Please ensure that you verify the user's information.</p>
  <p>If you have any questions or require assistance with the user registration process, feel free to contact our
    support team. We are available to assist you.</p>
  <p>Your efforts contribute to the effective administration of BeautyHubAPI.</p>
  <p>Best regards,</p>
  BeautyHubAPI Administration Team</p>
</body>

</html>