<html>
  <style type="text/css">
    @media only screen and (max-width: 480px) {
      table tr td {
        font-size: 12px;
      }
    }
  </style>
  <body style="background-color:#e2e1e0;font-family: Open Sans, sans-serif;font-size:100%;font-weight:400;line-height:1;color:#000;    border-top: #2d7bbc;">
    <table style="width:100%;max-width:767px; margin:50px auto 0px;background-color:#fff;padding:30px;">
      <tbody>
        <tr style="">
          <td style="width:100%;padding:0px 0px;vertical-align:top;text-align: center;">
            <img src="http://doctornowpatient.s3-website-us-east-1.amazonaws.com/assets/img/ladyvector-2.png" style="max-width: 200px;
    margin-bottom: 25px;">
            <p style="margin:0 0 10px 0;padding:0;font-size:25px; color: #3270b8;">
              <span style="display:block;font-weight:bold;">Hello, {name}
          </td>
      </tbody>
    </table>
    <table style="width:100%;max-width:767px; margin:0px auto 0px;background-image: linear-gradient(to top, #2d7bbc ,#05cfd7);padding:30px;">
      <tbody>
        <tr style="">
          <td style="width:100%;padding:0px 0px;vertical-align:top;text-align: left;color:#fff">
            <p style="    line-height: 25px;
    font-size: 16px;">
              <br />Here is the status of your appointment booked on {bookingDate} for {bookingTime} :
            <p style="    line-height: 25px;
    font-size: 25px;">{status}</p>
            <br />
            </p>
            <p style=" font-size: 16px;">Thank you & Regards,</p>
            <p style=" font-size: 16px;">DoctorNow </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
